.mainContainer {
    display: flex;        
    height: 100vh;
    align-items: center;
}

.leftSide {
    display: flex;
    flex: 6;
    height: inherit;
    justify-content: center;
    align-items: center;
    align-content: flex-start;    
}

.leftInside {
    margin-left: 5%;
    width: 50%;
}
.leftInside h1 {
    font-size:40px;
    color: rgb(65, 62, 62);
}
.leftInside p {
    margin-top: 20px;
    color: gray;
    font-weight:500;
}
.leftInside .phoneNumbers {
    margin-top: 20px;
    margin-bottom: 20px;
}
.leftInside .phoneNumbers h2 {
    border-bottom: solid yellow 2px;
    font-weight: 500;
    color: rgb(46, 43, 43);
    width: fit-content;
}
.linkToHome {
    text-decoration-line: none;
    font-size: 20px;
    font-weight: 450;
    background-color: yellow;
    padding-left: 5px;
    padding-right: 5px;
}

.rightSide {
    background-color: lavender;
    flex: 6;
    display: flex;
    height: inherit;
    align-items: center;
}
.rightInside {
    margin-left: auto;
    margin-right: auto;
    width: 320px;    
    border-radius: 10px;
    align-items: center;
    padding-left: 30px;
    padding-top: 50px;
    padding-right: 45px;
    padding-bottom: 50px;
}
.rightInside > h2 {
    font-size: 30px;
}
.rightInside p{
    margin-top: 10px;
    color: gray;
}

.inputContainer input{
    border-radius: 3px;
    height: 50px;
    border: none;
    width: 100%;
    font-size: 16px;
    padding-left: 16px;
    background-color: rgb(197, 196, 196);    
}
.username {
    margin-top: 20px;
}
.password {
    margin-top: 10px;
    margin-bottom: 10px;
}
.loginButton {
    border-radius: 3px;
    height: 50px;
    border: none;
    width: 106%;
    background-color:black;
    color: white;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 10px;
}
.loginButton:hover {
    cursor: pointer;
}

