.mainContainer {
    display: flex;        
    height: 100vh;
    align-items: center;    
}

.leftSide {
    display: flex;
    flex: 6;
    height: inherit;
    align-items: center;
    align-content: flex-start;    
}

.leftInside {
    margin-left: auto;
    margin-right: auto;
    width: 300px;
}
.leftInside h1 {
    font-size:40px;
    color: rgb(65, 62, 62);
}
.leftInside p {
    margin-top: 20px;
    color: gray;
    font-weight:500;
}
.leftInside .phoneNumbers {
    margin-top: 20px;
    margin-bottom: 20px;
}
.leftInside .phoneNumbers h2 {
    border-bottom: solid yellow 2px;
    font-weight: 500;
    color: rgb(46, 43, 43);
    width: fit-content;
}
.linkToHome {
    text-decoration-line: none;
    font-size: 20px;
    font-weight: 450;
    background-color: yellow;
    padding-left: 5px;
    padding-right: 5px;
}

.rightSide {
    background-color:lavender;
    flex: 6;
    display: flex;
    height: inherit;
    align-items: center;
}
.rightInside {
    margin-left: auto;
    margin-right: auto;
    width: 400px;    
    border-radius: 10px;
    align-items: center;
    padding: 50px 30px;
}
.rightInside > h2 {
    font-size: 30px;
}
.rightInside p{
    margin-top: 10px;
    color: gray;
}

.inputContainer input{
    border-radius: 1px;
    height: 50px;
    border: none;
    width: 100%;
    font-size: 16px;
    padding: 15px;
    background-color: rgb(228, 225, 225);    
}
.inputContainer input:focus {
    outline: none;
    content: none;
    border: solid blue 1px;
}
.errorContainer {
    color: red;
}
.inputContainer input:focus::placeholder {
    opacity: 0;
}
.username {
    margin-top: 20px;
}
.password {
    margin-top: 10px;
}
.loginButton {
    margin-top: 10px;
    border-radius: 1px;
    height: 50px;
    border: none;
    width: 100%;
    background-color:black;
    color: white;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 10px;
}
.loginButton:hover {
    cursor: pointer;
}

