.blogsContainer {
  margin-left: 80px;
  margin-right: 80px;
  margin-top: 25px;
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: 20% 35% 25% 20%;
  grid-auto-rows: auto auto;
  height: 60vh;
  grid-auto-flow: dense;
}

.blogsContainer div:nth-child(n) {
    border-right: groove rgba(0, 0, 0, 0.068) 1pt;
}
.blogsContainer div:nth-child(4n) {
    border-right: none;    
}
.blogsContainer div:nth-child(4n) .articleImage{
    display: none;    
}