.navbar-container {
  height: 60px;
  width: 100%;
  display: flex;
  flex-direction: column;  
}

.left-navbar {
  display: flex;
  flex: 30%;
  align-items: flex-start;
  align-items: center;
  background-color: transparent;
}

.right-navbar {
  background-color: transparent;
  display: flex;
  flex: 70%;
  align-items: center;
  justify-content: flex-end;
}

.links-container {
    background-color: transparent;
}

.navbar-inner-container {
    background-color: gold;
  display: flex;
  width: 100%;
  height: 60px;
  padding-left: 10%;
  padding-right: 10%;
}

.text-link {
  text-decoration: none;
  font-size: larger;
  margin: 10px;
  color: black;
  background-color: transparent;
}

.logout-btn {
  background-color: transparent;
  outline: none;
  border: none;
  height: 60px;
  font-size: larger;
  cursor: pointer;
}

.logo-text {
    cursor: pointer;
    font-size: xx-large;
    font-weight: normal;
    color: black;
    background-color: transparent;
    text-decoration: none;
}

.hidden-menu-btn {
    font-size: 50px;
    width: 50px;
    border: none;
    background: none;
    cursor: pointer;
    align-content: center;
}

.hidden-menu-btn:focus {
    background: none;
    border: none;
}

@media only screen and (min-width: 700px) {
    .hidden-menu-btn {
        display: none;
    }
}

@media only screen and (max-width: 700px) {
    .links-container {
        display: none;
    }
}