.main-content-header {
  padding-top: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.main-content-header > h3 {
  font-weight: normal;
}

.admin-header-menu-container {
  padding-top: 2ch;
  padding-right: 2ch;
  padding-bottom: 6px;
  overflow-x: auto;
  height: 70px;
}

::-webkit-scrollbar {
  width: 0;  /* Remove scrollbar space */
  background: transparent;  /* Optional: just make scrollbar invisible */
}

.admin-header-menu {
  list-style-type: none;
  display: flex;
  padding-left: 0;
  width: 100%;
}

.admin-header-menu li {
  text-decoration: none;
  margin-left: 0;
}

.header-link {
  background-color: transparent;
  color: #333;
  font-size: 1rem;
  padding: 5px 2ch;
  border: none;
  cursor: pointer;
}

.header-link:hover {
    border-bottom: solid lavender 3px;
}

.active, .active:hover {
    background-color: rgb(241, 241, 252);
    border-bottom: solid orange 3px;
}
