.menu {
  list-style-type: none;
  padding: 0;
  margin-bottom: 10px;
}

.menu-item-link {
  background-color: white;
  display: block;
  color: black;
  padding: 12px;
  text-decoration: none;
  font-size: 20px;
}

.menu-item-link:hover {
  background-color: #eeeeee;
}

.menu-active, .menu-active:hover{
  background-color: #dfdede;
}

