.header {
    height: 50px;
    width: 100%;
    background-color: gold;
    display: flex;
    align-items: center;
    padding-left: 15%;
    padding-right: 15%;
    justify-items: center;
  }
  
  .header h2 {
    background-color: transparent;
    flex: 4;
    font-weight: normal;
  }
  
  .rightHeader {
    text-align: center;
    flex: 4;
    display: flex;
    align-items: center;
    background-color: transparent;
    font-size: 1rem;
  }
  
  .rightHeader span {
    background-color: transparent;
  }
  
  .rightHeader span b {
    background-color: transparent;
  }
  
  .rightHeader button {
    height: 50px;
    border: none;
    margin-left: 10px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 1rem;
    font-weight: bold;
    background-color: transparent;
    outline: solid white 0.5px;
    color: black;
    cursor: pointer;
  }
  
  .header button:hover {
    background-color: yellow;
  }
  
  .search {
    flex: 4;
    background-color: transparent;
    align-items: center;
    border: none;
    outline: none;
  }
  
  .search input {
    font-size: 16px;
    color: rgb(36, 35, 35);
    height: 35px;
    border: none;
    border-radius: 20px;
    min-width: auto;
    padding-left: 18px;
    padding-right: 18px;
  }
  
  .search input:focus {
    outline: solid gray 1px;
  }
  
  .container {
    padding-top: 30px;
  }
  
  .dashboard-container {
    display: flex;
    flex-wrap: wrap;
    gap: 2%;
    justify-content: space-between;
  }
  
  .side-menu {
    flex-grow: 0;
    flex-basis: 28%;
  }
  
  .main-content {
    flex-basis: 70%;
    flex-shrink: 1;
    flex-grow: 1;
    background-color: white;
    border-radius: 5px;
  }
  
  @media only screen and (max-width: 992px) {
    .item {
      flex-basis: 100%;
      width: 100%;
    }
  }
  