
.user-container {
    width: inherit;
    background-color: white;
    margin-bottom: 10px;
    padding: 1rem 1rem;
    display: flex;
    flex-flow: column;
    align-items: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.avatar {
    max-width: 96px;
    border: solid white 2px;
    outline: solid orange 2px;
    border-radius: 50%; 
    margin-bottom: 10px;
}

.user-container p {
    color: gray;
}