.articleImage {
    width: 100%;
    object-fit: cover;
}

.article {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}

.article h2 {
    color: rgba(0, 0, 0, 0.849);
}

.article p {
    font-size: 0.8rem;
    color: gray;    
    font-weight: normal;
}