.articleImage {
    width: 100%;
    object-fit: cover;
}

.article {
    padding: 5px;
}

.article h2 {
    color: rgba(0, 0, 0, 0.849);
}

.article p {
    font-size: medium;
    font-weight: lighter;
}