.add-post-container {
    margin-top: 0px;
}

.add-post-header {
    padding: 20px;
    border-bottom: solid rgb(202, 201, 201) 1px;
}

.add-post-form {
    margin-top: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.title-input {
    height: 2.5rem;
    font-size: 1.3rem;
    padding: 1ch;
    outline: none;
    border: solid gray 1px;
}

.title-input:active,
.title-input:focus {
    outline: solid gray 1px;
}

.content-input {
    font-size: 1.3rem;
    padding: 1ch;
    border: solid gray 1px;
}

.content-input:active, .content-input:focus {
    outline: solid gray 1px;
}

.add-post-btn {
    cursor: pointer;
    background-color:black;
    padding: 10px;
    color: white;
    font-size: 1.2rem;
    border: none;
    border-radius: 5px;
}

.add-post-btn:hover {
    box-shadow: gold;
}
