.post-container {
    border-bottom: solid #e2e0da 1px;
    padding: 15px 2%;
    display: flex;
    gap: 3%;
    flex-wrap: wrap;
}

.post-img-container {
    flex-basis: 27%;
    flex-grow: 0;
}

.post-img-content {
    max-width: 100%;
    object-fit: cover;
}

.post-img-content:hover {
    transform: scale(1.02);
    background-size: 150%;
    transition: all .5s;
    cursor: pointer;
}

.post-text-content {
    flex-basis: 70%;
}

@media only screen and (max-width: 575px) {
    .post-img-container,
    .post-text-content {
        min-width: 100%;
    }

    .post-container {
        border-bottom: solid #f9f6ec 10px;
    }
}

.post-text-content h2 {
    color: black;
}

.post-text-content p {
    color: gray;
}
